.nav-bar {
  background-color: #ee6e73;
  color: white;
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 2.5rem;
  padding-top: 20px;
  margin-top: -80px;
  height: 130px;
  width: 100%;
}

#home-button {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

#favorites-button {
  font-size: 1.2rem;
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.image,
.favorites-image {
  display: flex;
  justify-content: center;
  width: auto;
}

.main-image,
.fave-image {
  width: auto;
  height: 400px;
}

.image-text,
.favorites-image-text {
  position: relative;
}

.find-recipe {
  position: absolute;
  font-family: "Rock Salt", cursive;
  font-size: 3rem;
  left: 200px;
  top: 50px;
  color: white;
  font-weight: 100;
  text-shadow: 2px 2px 5px #3c3a3a, 0 0 1em #ff0800, 0 0 1em black;
}

.favorite-recipes {
  position: absolute;
  font-family: "Rock Salt", cursive;
  font-size: 2.2rem;
  left: 310px;
  top: 50px;
  color: white;
  font-weight: 100;
  text-shadow: 2px 2px 5px #3c3a3a, 0 0 1em #ff0800, 0 0 1em black;
}

.search-bar {
  position: absolute;
  left: 120px;
  top: 200px;
}

#site-search {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 1rem;
  outline: none;
  box-shadow: 2px 2px 4px  rgba(32, 30, 30, 0.771);
}

#search-button {
  height: 40px;
  width: 80px;
  border-style: none;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #ee6e73;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #f28f92;
}

.recipe-card {
  list-style: none;
  width: 450px;
  border-style: solid;
  border-color: #e4e2e2;
  border-bottom: none;
  display: flex;
  justify-content: center;
  background-color: #f1f2f6;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  color: #565a5f;
  height: 501px;
}

.recipe-card:hover {
  background-color: #ffeaa7;
  border-style: none;
  border-bottom: solid;
  border-bottom-color: white;
}

.recipe-card:active {
  box-shadow: 2px 2px 5px #fc894d;
}

.card-link {
  display: block;
  cursor: pointer;
  width: 400px;
  height: 400px;
  margin-top: -350px;
}

.recipe-name {
  height: 64px;
  padding-right: 10px;
  width: 350px;
  cursor: pointer;
}

.calories-servings-left {
  text-align: center;
  background-color: rgb(243, 191, 191);
  padding-bottom: 20px;
  padding-top: 15px;
  font-size: 1rem;
  color: #565a5f;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: -25px;
  margin-right: -5px;
  border-radius: 0 8px;
  border-right: solid;
  border-color: #f1f2f6;
}

.calories-servings-right {
  text-align: center;
  background-color: rgb(243, 191, 191);
  padding-bottom: 20px;
  padding-top: 15px;
  font-size: 1rem;
  color: #565a5f;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: -25px;
  margin-left: -5px;
  border-radius: 0 0 8px;
  border-left: solid;
  border-color: #f1f2f6;
}

.row-bottom {
  max-width: 450px;
  display: flex;
  flex-wrap: nowrap;
}

/* .calories-servings {
  justify-content: center;
  background-color: rgb(243, 191, 191);
  padding-bottom: 20px;
  margin: -8px -24px -2px;
  border-radius: 8px;
  padding-top: 15px;
  font-size: 1rem;
  color: rgb(176, 128, 128);
} */

.result-image {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: -10px;
  cursor: pointer;
}

.results-text,
.favorites-text {
  font-family: "Rock Salt", cursive;
  text-shadow: 2px 2px 5px #8a8787;
}

#modal-div {
  position: fixed;
  top: 20px;
  left: 65px;
  border-style: solid;
  border-color: #363636;
  background-color: #363636;
  border-radius: 8px;
  max-width: 450px;
  padding: 5px;
  max-height: 680px;
  z-index: 1;
}

.modal-title {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2px;
  color: #ee6e73;
}

.modal-image {
  display: flex;
  justify-content: center;
  width: 433px;
  height: 210px;
  border-radius: 15px;
  margin-top: 30px;
  padding: 1px 5px 0;
}

#x-button-left {
  color: white;
  font-size: 1rem;
  float: right;
  padding-right: 5px;
  cursor: pointer;
  margin-top: -26px;
}

.modal-details {
  font-family: "rock salt", cursive;
  color: white;
  font-weight: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.recipe-details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 8px;
  letter-spacing: 1.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#go-to-site {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  background-color: #ee6e73;
  border-color: #ee6e73;
  letter-spacing: 1.5px;
}

.results {
  position: relative;
}

.overlay {
  position: fixed;
  background:
    linear-gradient(
      rgba(33, 32, 32, 0.8),
      rgb(33, 32, 32, 0.8)
    );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#x-button-right {
  display: none;
}

/* .favorites {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 8px;
  cursor: pointer;
} */

.fa-regular,
.fa-heart,
.heart {
  color: white;
  font-size: 0.8rem;
  margin-left: 10px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.heart-red {
  color: red;
  font-size: 0.8rem;
  margin-left: 10px;
  letter-spacing: 1.5px;
}

#fave-heart {
  color: red;
  font-size: 1rem;
  float: right;
}

@media screen and (min-width: 768px) and (max-width: 911px) {
  .modal-image {
    width: 345px !important;
  }
}

@media screen and (min-width: 768px) {
  #site-search {
    width: 450px;
  }

  .main-image,
  .fave-image {
    width: 100%;
    height: 400px;
  }

  .search-bar {
    position: absolute;
    left: 2px;
    top: 250px;
  }

  .recipe-card {
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
  }

  .result-image {
    width: 350px;
  }

  .matching-results,
  .favorited-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #modal-div {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 70px;
    left: 58px;
    max-width: 1000px;
    height: 600px;
    padding: 5px;
  }

  .modal-details {
    width: 440px;
    padding-left: 0;
  }

  .modal-image {
    display: flex;
    justify-content: flex-start;
    width: 420px;
    height: 560px;
    margin-left: -10px;
    margin-top: 10px;
  }

  .modal-title {
    padding-left: 2px;
  }

  #x-button-left {
    display: none;
  }

  #x-button-right {
    display: block;
    color: white;
    float: right;
    cursor: pointer;
    margin-right: -10px;
  }

  .recipe-details {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #go-to-site {
    margin-top: 400px;
  }

  .calories-servings-left {
    margin-left: -37px;
    margin-right: -20px;
  }

  .calories-servings-right {
    margin-right: -37px;
    margin-left: -20px;
  }

  .card-link {
    width: 350px;
  }

  #fave-heart {
    float: right;
  }
}

@media screen and (min-width: 954px) {
  .matching-results,
  .favorited-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
